zend_extension=xdebug.so

xdebug.remote_autostart=on
xdebug.remote_enable=on
xdebug.remote_handler="dbgp"
xdebug.remote_host="localhost"
xdebug.remote_port=9000
xdebug.remote_mode=req
xdebug.idekey="PHPSTORM"

xdebug.trace_format = 0
xdebug.trace_enable_trigger = 1
xdebug.trace_output_name = trace.out.%t
xdebug.trace_output_dir = /home/{{ global_local_username }}/Xdebug/StackTraces

xdebug.profiler_enable = 0
xdebug.profiler_enable_trigger = 1
xdebug.profiler_output_name = cachegrind.out.%t
xdebug.profiler_output_dir = /home/{{ global_local_username }}/Xdebug/ProfilerSnapshots
