server {

    listen 127.0.0.6:80;

    server_name adminer.local;

    root /home/{{ global_local_username }}/Projects/adminer.local/www;

    error_log /home/{{ global_local_username }}/Projects/adminer.local/access.log;
    access_log /home/{{ global_local_username }}/Projects/adminer.local/error.log;

    location / {
        index  index.php;
    }

    location ~* ^.+.(jpg|jpeg|gif|css|png|js|ico|xml)$ {
        access_log off;
        expires 360d;
    }

    location ~ /\.ht {
        deny  all;
    }

    location ~ /(libraries|setup/frames|setup/libs) {
        deny all;
        return 404;
    }

    location ~ \.php$ {
        fastcgi_pass unix:/var/run/php/php7.1-fpm.utf8.sock;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        include fastcgi_params;
        fastcgi_param SCRIPT_FILENAME /home/{{ global_local_username }}/Projects/adminer.local/www$fastcgi_script_name;
        fastcgi_param HTTPS off;
    }
}
