<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Сайт по-умолчанию</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic" rel="stylesheet">

    <style>
        html, body {
            height: 100vh;
            width: 100%;
            position: fixed;
            font-family: 'Open Sans', sans-serif;
            margin: 0;
            padding: 0;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }

        main {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1.25);;
            text-align: center;
            max-width: 600px;
        }
    </style>
</head>
<body>
    <main>
        <svg xmlns="http://www.w3.org/2000/svg" class="iconic iconic-cogs" width="128" height="128" viewBox="0 0 128 128">
            <g class="iconic-metadata">
                <title>Cogs</title>
            </g>
            <g class="iconic-cogs-lg iconic-container iconic-lg" data-width="128" data-height="128" display="inline">
                <path d="M77.894 47.412c.371-2.912.381-5.888-.001-8.865l8.074-6.044-5.195-12.542-9.974 1.484c-1.838-2.373-3.951-4.468-6.274-6.262l1.436-9.988-12.542-5.195-6.006 8.106c-2.912-.371-5.888-.381-8.865.001l-6.044-8.074-12.542 5.195 1.484 9.974c-2.373 1.838-4.468 3.951-6.262 6.274l-9.988-1.436-5.195 12.542 8.106 6.006c-.371 2.912-.381 5.888.001 8.865l-8.074 6.044 5.195 12.542 9.974-1.484c1.838 2.373 3.951 4.468 6.274 6.262l-1.436 9.988 12.542 5.195 6.006-8.106c2.912.371 5.888.381 8.865-.001l6.044 8.074 12.542-5.195-1.484-9.974c2.373-1.838 4.468-3.951 6.262-6.274l9.988 1.437 5.195-12.542-8.106-6.006zm-26.007 17.043c-11.849 4.908-25.434-.719-30.342-12.568-4.908-11.849.719-25.434 12.568-30.342 11.849-4.908 25.434.719 30.342 12.568 4.908 11.849-.719 25.434-12.568 30.342z"
                class="iconic-cogs-cog iconic-cogs-cog-large iconic-property-fill" />
                <path d="M128 100.938v-9.938l-7.162-1.79c-.578-2.12-1.421-4.129-2.489-5.993l3.769-6.353-7.027-7.027-6.333 3.8c-1.865-1.067-3.875-1.907-5.996-2.483l-1.826-7.154h-9.938l-1.79 7.162c-2.119.578-4.129 1.421-5.993 2.489l-6.353-3.769-7.027 7.027 3.8 6.333c-1.067 1.865-1.907 3.875-2.483 5.996l-7.154 1.826v9.938l7.162 1.79c.578 2.119 1.421 4.129 2.489 5.993l-3.769 6.353 7.027 7.027 6.333-3.8c1.865 1.067 3.875 1.907 5.996 2.483l1.826 7.154h9.938l1.79-7.162c2.119-.578 4.129-1.421 5.993-2.489l6.353 3.77 7.027-7.027-3.8-6.333c1.067-1.865 1.907-3.875 2.483-5.996l7.154-1.826zm-32 12.062c-9.389 0-17-7.611-17-17s7.611-17 17-17 17 7.611 17 17-7.611 17-17 17z"
                class="iconic-cogs-cog iconic-cogs-cog-small iconic-property-accent iconic-property-fill" />
            </g>
            <g class="iconic-cogs-md iconic-container iconic-md" data-width="32" data-height="32" display="none" transform="scale(4)">
                <path d="M19.212 11.75c.088-.7.087-1.413-.003-2.128l2.161-1.892-1.044-2.521-2.862.203c-.442-.569-.947-1.073-1.504-1.505l.19-2.863-2.521-1.044-1.879 2.166c-.7-.088-1.413-.087-2.128.003l-1.892-2.161-2.521 1.044.203 2.862c-.569.442-1.073.947-1.505 1.504l-2.863-.19-1.044 2.521 2.166 1.879c-.088.699-.087 1.413.003 2.128l-2.161 1.892 1.044 2.521 2.862-.203c.442.569.947 1.073 1.504 1.505l-.19 2.863 2.521 1.044 1.879-2.166c.7.088 1.413.087 2.128-.003l1.892 2.161 2.521-1.044-.203-2.862c.569-.442 1.073-.947 1.505-1.504l2.863.19 1.044-2.521-2.166-1.879zm-6.681 3.385c-2.456 1.017-5.271-.149-6.288-2.604-1.017-2.456.149-5.271 2.605-6.288 2.455-1.017 5.271.149 6.288 2.604 1.017 2.455-.149 5.271-2.605 6.288z"
                class="iconic-cogs-cog iconic-cogs-cog-large iconic-property-fill" />
                <path d="M32 24.984v-1.984l-1.98-.66c-.139-.505-.338-.985-.592-1.43l.924-1.871-1.403-1.403-1.865.932c-.446-.254-.925-.452-1.431-.59l-.67-1.979h-1.984l-.66 1.98c-.505.139-.985.338-1.43.592l-1.871-.925-1.403 1.403.932 1.865c-.254.446-.452.925-.59 1.431l-1.978.67v1.984l1.98.66c.139.505.338.985.592 1.43l-.924 1.871 1.403 1.403 1.865-.932c.446.254.925.452 1.431.59l.67 1.978h1.984l.66-1.98c.505-.139.985-.338 1.43-.592l1.871.925 1.403-1.403-.932-1.865c.254-.446.452-.925.59-1.431l1.979-.67zm-8 2.516c-1.933 0-3.5-1.567-3.5-3.5s1.567-3.5 3.5-3.5 3.5 1.567 3.5 3.5-1.567 3.5-3.5 3.5z"
                class="iconic-cogs-cog iconic-cogs-cog-small iconic-property-accent iconic-property-fill" />
            </g>
            <g class="iconic-cogs-sm iconic-container iconic-sm" data-width="16" data-height="16" display="none" transform="scale(8)">
                <path d="M8.984 5.283c.014-.19.011-.379-.002-.571l.002.005.921-1.076-.48-1.158-1.408-.1.002.005c-.126-.146-.259-.281-.402-.406l-.033-1.47-1.238-.513-1.063 1.016c-.19-.014-.379-.012-.571.002l.005-.002-1.076-.921-1.158.48-.1 1.408.005-.002c-.146.126-.281.259-.406.402l-1.47.033-.513 1.237 1.016 1.063c-.014.19-.012.379.002.571l-.002-.005-.921 1.076.479 1.158 1.408.1-.002-.005c.126.146.259.281.402.406l.033 1.47 1.237.513 1.063-1.016c.19.014.379.012.571-.002l-.005.002 1.076.921 1.158-.479.1-1.408-.005.002c.146-.126.281-.259.406-.402l1.47-.033.513-1.238-1.016-1.063zm-3.259 1.467c-.967.4-2.075-.059-2.475-1.025-.4-.967.059-2.075 1.025-2.475.967-.4 2.075.059 2.475 1.025.401.967-.059 2.075-1.025 2.475z"
                class="iconic-cogs-cog iconic-cogs-cog-large iconic-property-fill" />
                <path d="M16 12.492v-.992l-1-.5v.004c-.048-.145-.104-.284-.171-.419l.421-1.086-.75-.75-1.086.421c-.135-.068-.274-.123-.419-.171h.004l-.508-1h-.992l-.5 1h.004c-.145.048-.284.104-.419.171l-1.086-.421-.75.75.421 1.085c-.068.135-.123.274-.171.419v-.004l-1 .508v.992l1 .5v-.004c.048.145.104.284.171.419l-.421 1.086.75.75 1.086-.421c.135.068.274.123.419.171h-.004l.508 1h.992l.5-1h-.004c.145-.048.284-.104.419-.171l1.086.421.75-.75-.421-1.086c.068-.135.123-.274.171-.419v.004l1-.508zm-4 1.008c-.828 0-1.5-.672-1.5-1.5s.672-1.5 1.5-1.5 1.5.672 1.5 1.5-.672 1.5-1.5 1.5z"
                class="iconic-cogs-cog iconic-cogs-cog-small iconic-property-accent iconic-property-fill" />
            </g>
            </svg>
        <h1>Это просто дефолтный сайт</h1>
        <p>Если видите в&nbsp;адресной строке не&nbsp;default.local, cкорее всего, у&nbsp;вас неправильно сконфигурирован NGINX. Проверьте конфигурацию</p>
    </main>
</body>
</html>
