server {

{% for site_ip in site.ip %}
    listen {{ site_ip }}:80;
{% endfor %}

    keepalive_timeout      70;
    keepalive_requests     150;

    ssl                    off;

    error_page 497         https://$host$request_uri;

    server_name            {{ site.server_name }};

    access_log             /home/{{ global_local_username }}/Projects/{{ site.server_name }}/access.nginx.log;
    error_log              /home/{{ global_local_username }}/Projects/{{ site.server_name }}/error.nginx.log warn;

    server_name_in_redirect off;

    {% if site.deny_http == true %}

    return 301 https://$server_name$request_uri;

    {% else %}

    root /home/{{ global_local_username }}/Projects/{{ site.server_name }}/www;
    index index.php index.html

    disable_symlinks if_not_owner from=/home/{{ global_local_username }}/Projects/{{ site.server_name }}/www;

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/php{{ site.php_version }}-fpm.{{ site.php_encoding }}.sock;
    }

    location ~* /\.ht {
        deny all;
    }

    location ~* /\.(svn|hg|git) {
        deny all;
    }

    location ~* /\.\./ {
        access_log off;
        log_not_found off;
        deny all;
    }

    location ~* \.(jpg|jpeg|gif|png|css|js|ico|xml)$ {
        access_log        off;
        log_not_found     off;
        expires           360d;
    }

    {% endif %}

}

{% if site.is_https == true %}

server {

{% for site_ip in site.ip %}
    listen {{ site_ip }}:443 ssl http2;
{% endfor %}

    keepalive_timeout      70;
    keepalive_requests     150;

    ssl_certificate        /etc/nginx/certificates/{{ site.server_name }}.pem;
    ssl_certificate_key    /etc/nginx/certificates/{{ site.server_name }}-key.pem;
    ssl_protocols          TLSv1 TLSv1.1 TLSv1.2;
    ssl_ciphers            HIGH:!aNULL:!MD5;

    ssl_session_cache      shared:SSL:10m;
    ssl_session_timeout    10m;

    server_name            {{ site.server_name }};

    access_log             /home/{{ global_local_username }}/Projects/{{ site.server_name }}/access.nginx.log;
    error_log              /home/{{ global_local_username }}/Projects/{{ site.server_name }}/error.nginx.log warn;

    server_name_in_redirect off;

    root /home/{{ global_local_username }}/Projects/{{ site.server_name }}/www;
    index index.php index.html

    disable_symlinks if_not_owner from=/home/{{ global_local_username }}/Projects/{{ site.server_name }}/www;

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \.php$ {
        include snippets/fastcgi-php.conf;
        fastcgi_pass unix:/run/php/php{{ site.php_version }}-fpm.{{ site.php_encoding }}.sock;
    }

    location ~* /\.ht {
        deny all;
    }

    location ~* /\.(svn|hg|git) {
        deny all;
    }

    location ~* /\.\./ {
        access_log off;
        log_not_found off;
        deny all;
    }

    location ~* \.(jpg|jpeg|gif|png|css|js|ico|xml)$ {
        access_log        off;
        log_not_found     off;
        expires           360d;
    }
}

{% endif %}