<VirtualHost {{ site.apache_ip | join(' ') }}>
    ServerName {{ site.server_name }}

    {% if site.server_aliases is defined %}
    {% for alias in site.server_aliases %}

    ServerAlias {{ alias }}

    {% endfor %}
    {% endif %}

    ServerAdmin {{ global_local_username }}@localhost

    DocumentRoot /home/{{ global_local_username }}/Projects/{{ site.server_name }}/www
    ErrorLog /home/{{ global_local_username }}/Projects/{{ site.server_name }}/error.log

    <Directory /home/{{ global_local_username }}/Projects/{{ site.server_name }}/www>
        Options +Indexes
        Require all granted
        AllowOverride All
        Order allow,deny
        allow from all
    </Directory>

    <IfModule mod_rewrite.c>
        RewriteEngine On
        RewriteCond %{HTTP:HTTPS} =YES
        RewriteRule .* - [E=HTTPS:on,L]
    </IfModule>

    <IfModule remoteip_module>
        RemoteIPHeader X-Forwarded-For
        RemoteIPTrustedProxy 127.0.0.1/8
    </IfModule>

    {% if site.handler_type == 'fpm' %}

    <FilesMatch \.php$>
        SetHandler "proxy:unix:/var/run/php/php{{ site.php_version }}-fpm.{{ site.php_encoding }}.sock|fcgi://{{ site.server_name }}/"
    </FilesMatch>

    {% endif %}
</VirtualHost>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
